# Ignore node_modules directory
node_modules

# Ignore build artifacts directory (it's created during build)
dist

# Ignore development-specific files
.env*
.dockerignore
Dockerfile
docker-compose.yml

# Ignore version control directory
.git

# Ignore OS-specific files
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log* 
data